version: "3.8"

services:

  backend1:
    build: ./backend
    expose:
      - "5000"
    depends_on:
      - db

  backend2:
    build: ./backend
    expose:
      - "5000"
    depends_on:
      - db

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    depends_on:
      - backend1
      - backend2
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
