version: "3.8"
services:

 frontend:
  build: ./frontend

 backend1:
  build: ./backend
  depends_on: [db]

 backend2:
  build: ./backend
  depends_on: [db]

 db:
  image: mysql:5.7
  environment:
   MYSQL_ROOT_PASSWORD: root
  volumes:
   - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

 nginx:
  image: nginx
  ports: ["80:80"]
  volumes:
   - ./nginx/nginx.conf:/etc/nginx/nginx.conf

 node-exporter:
  image: prom/node-exporter
  ports: ["9100:9100"]

 prometheus:
  image: prom/prometheus
  volumes:
   - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
  ports: ["9090:9090"]

 grafana:
  image: grafana/grafana
  ports: ["3000:3000"]
